html, body {
    height: 100%; /* Ensure that the html and body are taking full height */
    margin: 0; /* Remove default margin */
}
#main-content {
    flex: 1 0 auto; /* Allow the content to expand and shrink but not to the extent of pushing the footer */
}
#footer-container {
    flex-shrink: 0; /* Prevent the footer from shrinking */
}
/* Flexbox setup */
.flex-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}