<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}NET Blog{% endblock %}</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'blog-home' %}">NET Blog</a></h1>
    </header>
    {% block content %}{% endblock %}

    <nav>
        <a href="{% url 'blog-home' %}">Home</a>
        
    </nav>

    <footer>
        <p>&copy; 2024 NET Blog</p>
    </footer>

</body>
</html>
