{% extends 'blog/base.html' %}

<head>

    {% if title %}
        <title>NET Blog - {{ title }}</title>
    {% else %}
        <title>NET Blog</title>
    {% endif %}


</head>

{% block content %}
    <h2>Contact Us</h2>
    <p>Feel free to reach out to us with any questions or inquiries.</p>
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}