{% extends "blog/base.html" %}
{% block content %}
    <div class="container my-4">
        <div class="row">
            {% for post in posts %}
                <div class="col-md-6 mb-4">
                    <div class="card mb-3 h-100" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="Post Image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-dark" href="#">{{ post.title }}</a>
                                    </h5>
                                    <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                                    <p class="card-text">
                                        <small class="text-muted">{{ post.author }} - {{ post.date_posted|date:"D d M Y" }}</small>
                                    </p>
                                </div>
                                <div class="card-footer bg-transparent border-0">
                                    <a href="#" class="btn btn-outline-primary btn-sm">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
