{% extends 'blog/base.html' %}

<head>

    {% if title %}
        <title>NET Blog - {{ title }}</title>
    {% else %}
        <title>NET Blog</title>
    {% endif %}


</head>

{% block content %}
    <h2>Privacy Policy</h2>
    <p>This is the privacy policy for the NET Blog.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc id aliquet ultricies, nunc nisl ultricies nunc, id lacinia nunc nisl id nisl. Sed vitae nunc vel nunc aliquet lacinia. Sed ac nunc id nunc tincidunt aliquet. Sed auctor, nunc id aliquet ultricies, nunc nisl ultricies nunc, id lacinia nunc nisl id nisl.</p>
    <p>Phasellus id nunc id nunc aliquet lacinia. Sed ac nunc id nunc tincidunt aliquet. Sed auctor, nunc id aliquet ultricies, nunc nisl ultricies nunc, id lacinia nunc nisl id nisl. Sed vitae nunc vel nunc aliquet lacinia.</p>
{% endblock %}